@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --header-height: 3.5rem;
  --nav-width: 219px;
  /*Colores*/
  --first-color: #6923d0;
  --first-color: rgb(28, 203, 107);
  --first-color-light: #1d1b1f;
  --title-color: #19181b;
  --text-color: #58555e;
  --text-color-light: #a5a1aa;
  --body-color: #181718;
  --container-color: #0b0b0b;
  /*fonts*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.75rem;
  @media screen and (min-width: 1024px) {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: var(--header-height) 0 0 0;
  padding: 1rem 2rem .25rem 5rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  @media screen and (max-width: 770px) {
      padding: .25rem 2rem;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*Header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding: .25rem 2rem .25rem 5rem;
    @media screen and (max-width: 770px) {
        padding: .25rem 2rem;
    }

    &__container {
        display: flex;
        align-items: center;
        height: var(--header-height);
        justify-content: space-between;
    }
    &__search {
        min-width: 20rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        background-color: var(--first-color-light);
        padding: .2rem .5rem;
        border-radius: .35rem;
    }
    &__input {
        width: 100%;
        padding: .4rem 1rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--text-color-light);
        &::placeholder {
            color: var(--text-color);
            font-family: var(--body-font);
        }
    }
    &__img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        @media screen and (max-width: 770px) {
            position: absolute;
            right: 5rem;
        }
    }
    &__menu {
        cursor: pointer;
        font-size: 2rem;
        &#header-menu {
            display: none ;
            @media screen and (max-width: 770px) {
                display: block;
            }
        }
    }
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    height: 100vh;
    width: 4rem;
    padding: 1rem 1.3rem;
    transition: .5s ease-in-out;
    transition-property: transform width;
    @media screen and (max-width: 770px) {
        transform: translateX(-5rem);
    }
    &:hover {
        width: 13rem;
        .nav {
            &__subtitle,
            &__name,
            &__logo-name {
                opacity: 1;
            }
        }
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 3rem;
        overflow: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__logo {
        margin-bottom: 2.5rem;
        &-name {
            font-weight: 600;
            transition: opacity .2s ease;
            opacity: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--text-color);
        &.active {
            color: var(--first-color);
        }
        &:hover{
            color: var(--first-color);
        }
    }
    &__icon {
        font-size: 1.5rem;
        margin-right: .5rem;
    }
    &__name {
        font-size: .9rem;
        transition: opacity .2s ease;
        opacity: 0;
    }
    &__items {
        display: grid;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__subtitle {
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: var(--text-color-light);
        pointer-events: none;
        transition: opacity .2s ease;
        opacity: 0;
    }
    &__dropdown {
        overflow: hidden;
        transition: max-height .5s ease-in-out;
        max-height: 21px;
        &:hover {
            max-height: 20rem;
        }

        &-icon {
            margin-left: auto;
        }
        &-collapse {
            margin-top: .8rem;
            background-color: var(--first-color-light);
            border-radius: .2rem;
        }
        &-content {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: .5rem 1.5rem;
        }
        &-item {
            font-size: .85rem;
            color: var(--text-color);
            &:hover {
                color: var(--first-color);
            }
        }
    }
}