@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  width: 120rem;
  height: 120rem;
  top: -5%;
  right: 48%;
  border-radius: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #B92C2E 0%, #F5B0BC 100%);
  transition: transform 1s ease-in-out;
  z-index: 6;
}
@media screen and (max-width: 840px) {
  body::before {
    width: 80rem;
    height: 80rem;
    transform: translateX(-50%);
    left: 50%;
    bottom: 70%;
    right: initial;
    top: initial;
  }
}
body.register::before {
  right: 52%;
  transform: translate(100%, -50%);
}
@media screen and (max-width: 840px) {
  body.register::before {
    width: 80rem;
    height: 80rem;
    transform: translateX(-50%);
    left: 50%;
    bottom: 70%;
    right: initial;
    top: initial;
  }
}
body.register .login {
  opacity: 0;
}
body.register .register {
  opacity: 1;
  transform: translateX(-100%);
  z-index: 10;
}
@media screen and (max-width: 840px) {
  body.register .register {
    transform: translate(0%);
  }
}
body.register .left {
  pointer-events: none;
  transform: translateX(-65rem);
}
body.register .right {
  pointer-events: all;
  transform: translate(0, 0);
}
@media screen and (max-width: 840px) {
  body.register .right {
    transform: translateY(-100%);
  }
}

.forms {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.forms__container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 0.5s 0.2s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
@media screen and (max-width: 840px) {
  .forms__container {
    width: 100%;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}
.forms__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
}
@media screen and (max-width: 840px) {
  .forms__content {
    justify-content: flex-start;
  }
}
.forms__content.login {
  z-index: 2;
}
.forms__content.register {
  opacity: 0;
  z-index: 1;
}
.forms__title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}
.forms__inputs {
  max-width: 25rem;
  width: 100%;
  background-color: #f0f0f0;
  margin: 0.8rem 0;
  border-radius: 4rem;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.forms__label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms__label-icon {
  text-align: center;
  color: #acacac;
  font-size: 1.1rem;
}
.forms__input {
  background: none;
  outline: none;
  border: none;
  padding: 0.85rem 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.forms__input::-moz-placeholder {
  color: #aaa;
  font-weight: 500;
}
.forms__input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}
.forms__input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.forms__description {
  padding: 0.7rem 0;
  font-size: 1rem;
}
.forms__socials {
  display: flex;
  justify-content: center;
}
.forms__icon {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 0.1rem solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.4s;
}
.forms__icon:hover {
  color: #B92C2E;
  border-color: #B92C2E;
}
.forms__btn {
  width: 10rem;
  background-color: #B92C2E;
  border: none;
  outline: none;
  padding: 0.85rem 0;
  border-radius: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.forms__btn:hover {
  background-color: #e4282b;
}

.panels {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 840px) {
  .panels {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
}
.panels__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  transition: transform 1s ease-in-out;
  z-index: 6;
}
@media screen and (max-width: 840px) {
  .panels__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1/2;
  }
}
.panels__container.left {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
  transform: translateX(0);
}
.panels__container.right {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
  transform: translateX(65rem);
}
.panels__content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.panels__title {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}
.panels__description {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}
.panels__btn {
  width: 10rem;
  background-color: transparent;
  border: 0.1rem #fff solid;
  outline: none;
  padding: 0.85rem 0;
  border-radius: 4rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (max-width: 840px) {
  .panels__btn {
    border-color: #333;
  }
}
.panels__btn:hover {
  background-color: #e4282b;
}
.panels__img {
  width: 85%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}
@media screen and (max-width: 840px) {
  .panels__img {
    width: 12rem;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
}
@media screen and (max-width: 600px) {
  .panels__img {
    display: none;
  }
}/*# sourceMappingURL=app.css.map */