@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --bg-body: #f1f1f1;
  --bg-aside: #fff;
  --bg-text: #000;
  --bg-border: #c8c4c4;
  --bg-hover: rgba(119, 114, 115, 0.2);
  --bg-toggle: #fff;
  --toggle-dark-1: #eaeaea;
  --toggle-dark-2: #f1f1f1;
}

.dark_mode {
  --bg-body: #111;
  --bg-aside: #101010;
  --bg-text: #fff;
  --bg-border: #c8c4c4;
  --bg-toggle: #222;
  --toggle-dark-1: #444;
  --toggle-dark-2: #111;
}

body {
  display: flex;
  transition: background 0.5s ease;
  background: var(--bg-body);
}

a {
  text-decoration: none;
}

.sidebar {
  flex: 0 0 12rem;
  transition: background 0.5s ease;
  background: var(--bg-aside);
  min-height: 100vh;
  overflow: hidden;
  /* Menu de Hamburguesa */
  /* Navegación */
  /* TOGGLE DARK/LIGHT MODE */
}
@media screen and (max-width: 1021px) {
  .sidebar {
    flex: 0 0 5rem;
  }
}
.sidebar.active {
  flex: 0 0 5rem;
}
@media screen and (max-width: 1021px) {
  .sidebar.active {
    flex: 0 0 12rem;
  }
}
.sidebar.active .sidebar__link {
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1021px) {
  .sidebar.active .sidebar__link {
    flex-direction: row;
    align-items: center;
  }
}
.sidebar.active .sidebar__link.active {
  background-color: transparent;
}
@media screen and (max-width: 1021px) {
  .sidebar.active .sidebar__link.active {
    background-color: var(--bg-hover);
  }
}
.sidebar.active .sidebar__icon {
  flex: 0 0 1.5rem;
}
@media screen and (max-width: 1021px) {
  .sidebar.active .sidebar__icon {
    flex: 0 0 2.5rem;
    font-size: 1.25rem;
  }
}
.sidebar.active .sidebar__text {
  font-size: 0.5rem;
}
@media screen and (max-width: 1021px) {
  .sidebar.active .sidebar__text {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
.sidebar__container {
  color: var(--bg-text);
  padding: 1rem 1rem;
  border-bottom: 0.1rem var(--bg-border) solid;
}
.sidebar__menu {
  padding: 1rem;
  border: 0.1rem transparent solid;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.4s ease;
}
.sidebar__menu:hover {
  border-color: var(--bg-border);
}
.sidebar__list {
  list-style: none;
  padding: 1.5rem 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.sidebar__link {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: var(--bg-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.4s ease;
}
@media screen and (max-width: 1021px) {
  .sidebar__link {
    flex-direction: column;
    align-items: center;
  }
}
.sidebar__link.active {
  color: #3976e9;
  background-color: var(--bg-hover);
}
@media screen and (max-width: 1021px) {
  .sidebar__link.active {
    background-color: transparent;
  }
}
.sidebar__link:hover {
  background-color: var(--bg-hover);
}
.sidebar__icon {
  flex: 0 0 2.5rem;
  font-size: 1.25rem;
}
@media screen and (max-width: 1021px) {
  .sidebar__icon {
    flex: 0 0 1.5rem;
  }
}
.sidebar__text {
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (max-width: 1021px) {
  .sidebar__text {
    font-size: 0.5rem;
    font-weight: normal;
  }
}
.sidebar__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__content {
  position: relative;
  background-color: var(--bg-toggle);
  width: 4rem;
  min-height: 2rem;
  border-radius: 4rem;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.sidebar__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(to right, var(--toggle-dark-1) 0%, var(--toggle-dark-2) 100%);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.5s;
  transform: scale(0.9);
}
.sidebar__circle.active {
  left: 2rem;
}

.container {
  flex: 1;
  color: var(--bg-text);
  padding: 2rem;
}/*# sourceMappingURL=app.css.map */